@charset "UtF-8";

:root{  /*:root cria uma familia de caracteristicas que vão ser sempre usadas como variavel*/  
    --cor01: #000000;
    --cor02: #004578;
    --cor03: #005a9e;
    --cor04: #106ebe;
    --cor05: #0078d4;
    --cor06: #4fafff;
    --cor07: #e9791a;
    --cor08: #ff9a3e;
    --cor09: #ffffff;

    --fonte-padrao: arial, Verdana, Helvetica, Sans-serif;
}

*{   /* O asteristico define um pardrão uniersal. Define as margens de tudo*/
    margin: 0px;
    padding: 0px;
}

header{  /*Defini, cor, fonte e cor da letra no cabeçalho*/  
    background-color: var(--cor02);
    min-height: 100px;
    color: var(--cor09);
    text-align: center;
    padding-top: 40px;
}
header h1{   /*Defini, cor, fonte e cor da letra nas linhas do cabeçalho*/
    color: var(--cor09);
    font-family: var(--fonte-padrao);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 3px 3px 0px var(--cor01)
}

header p{
    color: var(--cor09);
    font-family: var(--fonte-padrao);
    font-size: 1.3em;
    padding-bottom: 35px;
    max-width: 500px;
    margin: auto;
    text-shadow: var(--cor02)
}

header img{  /*coloca borda na omagem da logo*/      
    border-radius: 50%;
    box-shadow: 04px 04px 04px var(--cor01);
}

body{  /*Defini, cor, fonte e cor da letra no body*/
    background-color: var(--cor06);
    font-family: var(--cor01);
    color: var(--cor01);
}

.primeira{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
}
.primeira img{
    height: 250px;
    border-radius: 50%;
}
.primeira h2{
    color: var(--cor06);
    font-family: var(--fonte-padrao);
    flex-direction: column;
    align-items: center;     
}
.primeira p{
    color: var(--cor06);
    font-family: var(--fonte-padrao);
    flex-direction: column;
    align-items: center;    
    padding: 15px;        
}

nav{ /*Defini, cor, fonte e cor da letra da barra de navegação*/
    background-color: var(--cor08);
    height: 20px;
    padding: 10px;
    box-shadow: 5px 5px 8px var(--cor02);
}

nav a{
    color: var(--cor02);
    padding: 10px;
    margin-top: 15%;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav a:hover{
    background-color: var(--cor06);
    padding: 5px;
    border-radius:08px;
}

div {/*Defini as caracteriaticas em uma Divisão que eu criei no html com as tags ,
    div></div>*/
    background-color: var(--cor02);
    margin-top: 3px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px var(--cor02);
}



main{  /*Muda as caracteristicas do conteudo principal*/
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: var(--cor09);   
    box-shadow: 5px 5px 5px var(--cor02);  

}

main img { /*Muda o tam. da imagem no conteudo principal*/
    width: 50%;
    display: block;
    margin: auto;   
}

main h1{
    color: var(--cor01);
    font-family: var(--fonte-padrao);
}

main h2{
    color: var(--cor06);
    font-family: var(--fonte-padrao);
}

main p{ /*Muda o tam. da da distancia do titulo pro texto*/
    color: var(--cor06);
    margin: 15px 0px;
    text-indent: 35px;
    line-height: 1.5em;
}

aside{
    background-color: var(--cor06);
    padding: 10px;
    border-radius: 10px;
}

aside h2{
    background-color: var(--cor02); 
    padding: 5px;
    color: var(--cor09);
    margin: 10px 0px;
}

aside h3{
    background-color: var(--cor06);
}
aside ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    
}

footer{ /*Defini, cor, fonte e cor da letra no rodapé*/
    background-color: var(--cor02);
    text-align: center;
    font-size: 1em;
    padding: 10px;
}

footer p{
    color: var(--cor09);
    font-family: var(--fonte-padrao);
    height: 2em;
    padding-top: 3px;
}

footer a{
    color: var(--cor09);
    font-weight: bolder;
    text-decoration: none;
}