@charset "UtF-8";

:root{  /*:root cria uma familia de caracteristicas que vão ser sempre usadas como variavel*/  
    --cor01: #000000;
    --cor02: #004578;
    --cor03: #005a9e;
    --cor04: #106ebe;
    --cor05: #0078d4;
    --cor06: #4fafff;
    --cor07: #e9791a;
    --cor08: #ff9a3e;
    --cor09: #ffffff;

    --fonte-padrao: arial, Verdana, Helvetica, Sans-serif;
}

*{   /* O asteristico define um pardrão uniersal. Define as margens de tudo*/
    margin:0px;
    padding: 0px;
}