@charset "UtF-8";

:root{  /*:root cria uma familia de caracteristicas que vão ser sempre usadas como variavel*/  
    --cor01: #000000;
    --cor02: #004578;
    --cor03: #005a9e;
    --cor04: #106ebe;
    --cor05: #0078d4;
    --cor06: #4fafff;
    --cor07: #e9791a;
    --cor08: #ff9a3e;
    --cor09: #ffffff;

    --fonte-padrao: arial, Verdana, Helvetica, Sans-serif;
}

header{  /*Defini, cor, fonte e cor da letra no cabeçalho*/  
    background-color: var(--cor02);
    min-height: 130px;
    color: var(--cor09);
    text-align: center;
}

header img{  /*coloca borda na omagem da logo*/      
    border-radius: 50%;
}

header  h1{      
    color: var(--cor09)
}

header p{
    color: var(--cor09)
      
}


body{  /*Defini, cor, fonte e cor da letra no body*/
    background-color: var(--cor06);
    font-family: var(--cor01);
    color: var(--cor01);
}

nav{ /*Defini, cor, fonte e cor da letra da barra de navegação*/
    background-color: var(--cor08);
    height: 30px;
    padding: 10px;
}

div{   /*Defini as caracteriaticas em uma Divisão que eu criei no html com as tags ,
       div></div>*/
    background-color: var(--cor02);
    box-shadow: 0px 0px 10px var(--cor02);
    border-radius: 01%;
}

main{  /*Muda as caracteristicas do conteudo principal*/
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: var(--cor09);   
    box-shadow: 0px 0px 10px var(--cor02);  
}

main img { /*Muda o tam. da imagem no conteudo principal*/
    width: 50%;
    display: block;
    margin: auto;   
}

footer{ /*Defini, cor, fonte e cor da letra no rodapé*/
    background-color: var(--cor02);
}