#home {
	background: #ffc107;
	color: white;
}

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #ffffff;
}


footer {
	background: #ffc107;
	padding: 30px 0;
	border-bottom: 1px solid #f8ea2b;
}

footer p a {
	margin: 05px 15px;
}