#home {
	background: #ffffff;
	color: rgb(0, 3, 158);
}

.nav{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 9px;
}

.caixa {
	padding: 60px 0;
	border-bottom: 54px solid #ffffff;
}


footer {
	background: #ffc107;
	padding: 0px 0;
	border-bottom: 1px solid #f8ea2b;
}

footer p a {
	margin: 05px 15px;
}